language: java
jdk:
  - oraclejdk8
  - openjdk8
  - oraclejdk9
  - openjdk10
before_install:
  - chmod +x gradlew
script:
- ./gradlew test
- ./gradlew jacocoTestReport
after_success:
- bash <(curl -s https://codecov.io/bash)